<table id="students-table">
  <tr>
    <th>mandatory</th>
    <th>points</th>
    <th>examDate</th>
    <th>subjectPerformance</th>
    <th>typeOfRequirement</th>
  </tr>
  <tr *ngFor="let p of preExamOb">
    <td>{{ p.mandatory }}</td>
    <td>{{ p.points }}</td>
    <td>{{ p.examDate.name }}</td>
    <td>{{ p.subjectPerformance.subject.name }}</td>
    <td>{{ p.typeOfRequirement.name }}</td>     
  <td *ngIf="user.roles == 'LECTURER'">
  <button style="margin-left: 5px;" class="btn btn-info" (click)="updatePreExamObligation(p.pre_examination_obligation_id)">Update</button>
  </td>
</tr>
<td *ngIf="user.roles == 'LECTURER'">
<button  style="margin-left: 5px;" class="btn btn-info" (click)="createPreExamObligation()">Create</button>
</td>
</table>
