<div class="center">
    <h2 style="margin-left: auto; margin-right: auto;">Hello {{user.username}}</h2> 
    <hr/>
      <div class="field">
        <label><b>FirstName: </b></label> {{user.name}}
      </div>
      <div  class="field">
        <label><b>Surname: </b></label> {{user.surname}}
      </div>
      <div  class="field">
        <label><b>Name: </b></label> {{user.username}}
      </div>
      <div  class="field">
        <label><b>Role: </b></label> {{user.roles}}
      </div>
    <br>
</div>