<table id="lecturers-table">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Username</th>
    <th>Address</th>
    <th>JMBG</th>
    <th>Pay</th>
    <th>Is Blocked</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let l of lecturers">
    <td>{{ l.name }}</td>
    <td>{{ l.surname }}</td>
    <td>{{ l.username }}</td>
    <td>{{ l.address }}</td>
    <td>{{ l.jmbg }}</td>
    <td>{{ l.pay }}</td>
    <td>{{ l.blocked }}</td>
    <td>  
      <button style="margin-left: 5px;" class="btn btn-danger">Block</button>
      <button style="margin-left: 5px;" class="btn btn-info">Update</button>
      <button style="margin-left: 5px;" class="btn btn-primary">View Schedule</button>
    </td>
  </tr>


</table>