.center{
    text-align: center;
    
}
h3{
    text-align: center;
}

.form-group
{
    text-align: center;
    margin-top: 20px;
}
 button{
     display: inline-block;
     text-align: center;
    width: ;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;

}