<div class="center">
<h2 style="margin-left: auto; margin-right: auto;">Student Details and Profile</h2> 

<hr/>
<div *ngIf="student">
  <div class="field">
    <label><b>FirstName: </b></label> {{student.firstname}}
  </div>
  <div  class="field">
    <label><b>LastName: </b></label> {{student.lastname}}
  </div>
  <div  class="field">
    <label><b>UserName: </b></label> {{student.username}}
  </div>
  <div  class="field">
    <label><b>Adress</b></label> {{student.adress}}
  </div> 
  <div  class="field">
    <label><b>Index Number</b></label> {{student.indexNumber}}
  </div>  
</div>

<br>
<br>
<div class="buttons">
    <button (click)="list()" class="btn btn-primary">Back to Students List</button><br>
    <button style="margin-left: 10px;" class="btn btn-warning">Change Info</button><br>
    <button style="margin-left: 10px;" class="btn btn-danger">Change Password</button><br>
    <button style="margin-left: 10px;" (click)="checkBank(student.student_id)"class="btn btn-info">Check Bank Account</button><br>

</div>

</div>