<h2>My exams</h2>
<table id="exams-table">
  <tr>
    <th>Student</th>
    <th>Subject Name</th>
    <th>Lecturer</th>
    <th>Exam Date</th>
    <th>Grade</th>
    <th>Passed</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let te of takenExams">
    <ng-container
      *ngIf="te.lecturer.username == username"
    >
      <td>{{ te.attendingCourses.student.username }}</td>
      <td>{{ te.attendingCourses.subjectPerformance.subject.name }}</td>
      <td>{{ te.lecturer.username }}</td>
      <td>{{ te.examDate.name }}</td>
      <td>{{ te.grade }}</td>
      <td>{{ te.passed }}</td>
      <td>
        <button style="margin-left: 5px;" class="btn btn-info" (click)="updateExam(te.taking_exam_id)">Update</button>
        <button style="margin-left: 5px;" class="btn btn-primary">View</button>
      </td>  
    
    </ng-container>
  </tr>
</table>
