<table id="examDates-table">
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>ExamDate name</th>
      <th>Lecturer</th>
      <th>Subject</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let ed of examDates">
      <td> {{ ed.id }} </td>
      <td>{{ ed.date }}</td>
      <td>{{ ed.name }}</td>
      <td>{{ ed.takingExam.lecturer}}</td>
      <td>{{ ed.takingExam.attendingCourses.subjectPerformance.subject.name }}</td>
      <td>  
        <button style="margin-left: 5px;" class="btn btn-danger">Remove</button>
        <button style="margin-left: 5px;" class="btn btn-info" (click)="takeExam(ed.takingExam.lecturer, ed.takingExam.attendingCourses)">Take Exam</button>
      </td>
      <td>
        
      </td>      
    </tr>